.bottom {
  padding: 10px;
}
html, body
  overflow: hidden
  height 100%
  margin 0
#app
  height 100%
  overflow auto
  text-align center
// 定位预设
.pos-r
  position relative
.pos-a
  position absolute
.pos-f
  position fixed
// 展示模式
.display-b
  display block!important
.display-i
  display inline
.display-i-b
  display inline-block!important
// flex水平垂直居中
.flex-center
  display flex
  justify-content center
  align-items center
.justify-center
  justify-content center!important
.justify-start
  justify-content flex-start!important
.justify-end
  justify-content flex-end!important
.flex-1
  flex 1!important
// 一些预设
.float-l
  float left!important
.float-r
  float right!important
.clear-fix:after
  display block
  clear: both
  content: ""
.width-100
  width 100px!important
.width-200
  width 200px!important
.width-300
  width 300px!important
.width-full
  width 100%!important
.width-init
  width initial!important
.height-full
  height 100%!important
.width-max-full
  max-width 100%!important
.height-max-full
  max-height 100%!important
.height-init
  height initial!important
.height-min-150
  min-height 150px!important
.min-width-150
  min-width 150px!important
.right-0
  right 0!important
.left-0
  left 0!important
.right-init
  right initial!important
.left-init
  left initial!important
.text-l
  text-align left!important
.text-r
  text-align right!important
.text-c
  text-align center!important
.m-0-auto
  margin 0 auto!important
.m-0-5
  margin 0 5px!important
// margin-top
.mt-10
  margin-top 10px!important
.mt-20
  margin-top 20px!important
.mt-30
  margin-top 30px!important
.mt-40
  margin-top 40px!important
.mt-50
  margin-top 50px!important
.mt-100
  margin-top 100px!important
// margin-bottom
.mb-0
  margin-bottom 0!important
.mb-10
  margin-bottom 10px!important
.mb-15
  margin-bottom 15px!important
.mb-20
  margin-bottom 20px!important
.mb-30
  margin-bottom 30px!important
.mb-40
  margin-bottom 40px!important
.mb-50
  margin-bottom 50px!important
// margin-left
.ml-5
  margin-left 5px!important
.ml-10
  margin-left 10px!important
.ml-15
  margin-left 15px!important
.ml-20
  margin-left 20px!important
.ml-30
  margin-left 30px!important
.ml-40
  margin-left 40px!important
.ml-50
  margin-left 50px!important
// margin-right
.mr-0
  margin-right 0px!important
.mr-5
  margin-right 5px!important
.mr-10
  margin-right 10px!important
.mr-20
  margin-right 20px!important
.mr-30
  margin-right 30px!important
.mr-40
  margin-right 40px!important
.mr-50
  margin-right 50px!important
// padding-top
.pt-10
  padding-top 10px!important
.pt-20
  padding-top 20px!important
.pt-30
  padding-top 30px!important
.pt-40
  padding-top 40px!important
.pt-50
  padding-top 50px!important
// padding-bottom
.pb-10
  padding-bottom 10px!important
.pb-20
  padding-bottom 20px!important
.pb-30
  padding-bottom 30px!important
.pb-40
  padding-bottom 40px!important
.pb-50
  padding-bottom 50px!important
// padding-left
.pl-10
  padding-left 10px!important
.pl-20
  padding-left 20px!important
.pl-30
  padding-left 30px!important
.pl-40
  padding-left 40px!important
.pl-50
  padding-left 50px!important
// padding-right
.pr-10
  padding-right 10px!important
.pr-20
  padding-right 20px!important
.pr-30
  padding-right 30px!important
.pr-40
  padding-right 40px!important
.pr-50
  padding-right 50px!important
